body {
    margin: 0;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

.main {
    background-color: darkgrey;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 50px;
}

#container {
    display:flex;
    background-color: aquamarine;
    height: 600px;
    width: 450px;
    border-radius: 2%;
    flex-direction: column;
    border:solid;
}

#display {
    display: flex;
    background-color:dimgray;
    height: 75px;
    padding:15px;
    border:solid;
    font-size: 80px;
    justify-content: right;
}

#btnContainer {
    display: flex;
    border:solid;
    background-color: rgb(82, 82, 82);
    gap: 2px;
    flex:1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.button {
    background-color: cyan;
    width:100px;
    height: 75px;
    border:solid;
    border-radius: 20%;
    font-size: 15px;
}

.button:active {
    transform: scale(0.98);
}

.decimalBtn {
    background-color: cyan;
    width:100px;
    height: 75px;
    border:solid;
    border-radius: 20%;
    font-size: 15px;
}

.decimalBtn:active {
    transform: scale(0.98);
}

#equals {
    height: 75px;
    width: 200px;
    background-color: green;
    border:solid;
    border-radius: 20%;
    font-size: 15px;
}

#equals:active{
    transform: scale(0.98);
}

.delBtn {
    height: 75px;
    width:145px;
    background-color:firebrick;
    border:solid;
    border-radius: 20%;
    font-size: 15px;
}

.clearBtn {
    height: 75px;
    width:145px;
    background-color:firebrick;
    border:solid;
    border-radius: 20%;
    font-size: 15px;
}

.clearBtn:active{
    transform: scale(0.98);
}

.delBtn:active{
    transform: scale(0.98);
}

#add {
    height: 75px;
    width:145px;
    border:solid;
    border-radius: 20%;
    font-size: 15px;
}

#add:active{
    transform: scale(0.98);
}

.opBtn {
    background-color: orange;
    border:solid;
    border-radius: 20%;
    font-size: 15px;
    width:100px;
    height: 75px;
}

.opBtn:active{
    transform: scale(0.98);
}